<nav class="main-nav">
  <ul class="nav-carousel">
    <li><a href="/" class="nav-link">Home</a></li>
    <% nav.forEach(classification => { %>
      <li>
        <a href="/inventory/classification/<%= classification.classification_name %>">
          <%= classification.classification_name %>
        </a>
      </li>
    <% }) %>
  </ul>
</nav>
