<nav>
    <ul>
        <li><a href="/" class="nav-link">Home</a></li>
        <li><a href="/inventory/classification/custom" class="nav-link">Custom</a></li>
        <li><a href="/inventory/classification/sport"class="nav-link">Sports</a></li>
        <li><a href="/inventory/classification/sedan" class="nav-link">Sedans</a></li>
        <li><a href="/inventory/classification/suv" class="nav-link">SUVs</a></li>
        <li><a href="/inventory/classification/truck" class="nav-link">Trucks</a></li>
    </ul>
</nav>